.venv/
venv/
env/
ENV/

__pycache__/
*.py[cod]
*.pyo

.pytest_cache/
.mypy_cache/
.ruff_cache/

build/
dist/
*.egg-info/

*.so
*.pyd
*.dll
*.obj
*.exp
*.lib

results/

weights/**/*.pkl
weights/**/*.pth
weights/**/*.pt
weights/**/*.ckpt
weights/**/*.bin
weights/**/*.safetensors
weights/**/*.onnx
weights/**/*.engine
weights/**/*.tar
weights/**/*.zip

data/test/hazy/*

DCNv4_op/build/
DCNv4_op/dist/
DCNv4_op/*.egg-info/
DCNv4_op/**/*.so
DCNv4_op/**/*.pyd
DCNv4_op/**/*.dll
DCNv4_op/**/*.obj

Thumbs.db
.DS_Store